---
layout: page
title: Shows
permalink: /shows/
---
<div class='page-content'>

  <ul class='shows'>

    {% for show in site.shows | sort:'title' %}
    <li class='show'>
      <a class='show__cover-link' href='{{ show.url }}'>
        <div class='show__cover' style='background-image: url({{ show | cover_image }});'>
        </div>
      </a>
      <div class='show__description'>
        <h3 class='show__title'><a href='{{ show.url }}'>{{ show.title }}</a></h3>

        {% assign hosts = show.hosts | select_people %}
        {% if hosts.size %}
          <h4 class='show__hosts'>Hosted by
          {% for host in hosts %}
            <a href='{{ host.url }}'>{{ host.title }}</a>{% if forloop.last %}.{% elsif hosts.size > 2 %},{% endif %}

            {% if hosts.size == 2 and forloop.first %}
              &amp;
            {% elsif hosts.size > 2 and forloop.rindex == 2 %}
              and
            {% endif %}

          {% endfor %}
          </h4>
        {% endif %}
        <p>
          {{ show.description }}
        </p>
      </div>
    </li>
    {% endfor %}

  </ul>

</div>
