<footer class='footer'>
  <div class='footer__content'>

    <p>LoomState.fm works with independent producers to publish podcasts about design, development, fashion and life.</p>

    <p>Each episode is hosted by people like you and I.</p>

    <ul class='footer__links'>
      {% for page in site.pages %}
        {% if page.title %}
        <li><a class='footer__link' href='{{ page.url | prepend: site.baseurl }}'>{{ page.title }}</a></li>
        {% endif %}
      {% endfor %}
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
    </ul>

    <p class='footer__copyright'>
      Copyright © 2016 by Loom State Productions in Newcastle Australia.
    </p>

  </div>
</footer>
