{% if page.title %}
<header class='header'{% if show.tintColor %} style='background-color: {{ show.tintColor }}'{% endif %}>

  {% if episode %}
    <h1 class='header__title'>#{{ episode.number }}: {{ episode.title }}</h1>
    <h2 class='header__subtitle'>{{ show.title }}</h2>

  {% elsif show %}
    <h1 class='header__title'>{{ show.title }}</h1>
    <h2 class='header__subtitle'>{{ show.subtitle }}</h2>

  {% else %}
    <h1 class='header__title'>{{ page.title }}</h1>
    {% if page.subtitle %}
      <h2 class='header__subtitle'>{{ page.subtitle }}</h2>
    {% endif %}
  {% endif %}

</header>
{% endif %}


{% if show.tintColor %}
<style>
a { color: {{ show.tintColor }}; }
</style>
{% endif %}
