{% if page.number %}
{% assign show = page.show | select_show %}
{% endif %}

{% if page.title %}
<header class='header'{% if page.tintColor %} style='background-color: {{ page.tintColor }}'{% endif %}>

  <h1 class='header__title'>{% if page.number %}#{{ page.number }}: {% endif %}{{ page.title }}</h1>
  {% if page.number %}
    <h2 class='header__subtitle'>{{ show.title }}</h2>
  {% elsif page.subtitle %}
    <h2 class='header__subtitle'>{{ page.subtitle }}</h2>
  {% else %}
  {% endif %}

</header>
{% endif %}
