<section class='latest-episodes'>

  <h1 class='section-heading'>
    Latest episodes
    <a class='section-heading__alt-link' href='{{ '/episodes/' | prepend: site.baseurl }}'>All episodes →</a>
  </h1>

  <ul class='latest-episode-list'>
    {% for episode in site.episodes limit:3 %}
      {% assign show = episode.show | select_show %}
      <li class='latest-episode'>
        <a class='latest-episode__link' href='{{ episode.url | prepend: site.baseurl }}'>

          <div class='latest-episode__cover' style='background-image: url({{ show | cover_image }});'>
          </div>

          <h2 class='latest-episode__title'>{{ show.title }} {{ episode.number }}</h2>
        </a>
      </li>
    {% endfor %}
  </ul>

</section>
