<section class='show-summaries'>

  <h1 class='section-heading'>
    Shows
    <a class='section-heading__alt-link' href='{{ '/shows/' | prepend: site.baseurl }}'>Show details →</a>
  </h1>

  <ul class='show-summary-list'>
    {% for show in site.shows %}
      <li class='show-summary'>
        <a class='show-summary__link' href='{{ show.url | prepend: site.baseurl }}'>

          <div class='show-summary__cover' style='background-image: url({{ show | cover_image }});'>
          </div>

          <h2 class='show-summary__title'>{{ show.title }}</h2>
        </a>
      </li>
    {% endfor %}
  </ul>

</section>

