.episode {
  font-size: 20px;
}

.episode__content {
  padding: 60px layout(gutter) / 2;
  max-width: layout(content-width);
  margin: 0 auto;
}


.episode__title {
  font-size: 36px;
}

.episode__meta {
  font-size: 16px;
  color: #999;
}
