// ----------------------------------------------------------------------------
//
// Header

.header {

  margin: 0;
  padding: 40px layout(gutter);
  @media (min-width: 768px) {
    padding: 180px layout(gutter) 120px;
  }


  background: #666;
  background-image:
    radial-gradient(circle at top, rgba(#fff, 0.22), rgba(#000, 0.5)),
    url(../images/noise.png);
  box-shadow: 0 1px rgba(#000, 0.5);

  font-family: scheme(header, font, family);
  font-weight: 800;
  color: scheme(header, color);
  text-align: center;
  line-height: 1.2;
  text-shadow: 0 3px 15px rgba(#000, 0.5);

  &__title, &__subtitle {
    margin: 0.1em auto;
    font-family: inherit;
    line-height: inherit;
  }

  &__title {
    font-size: 1.8em;
    @media (min-width: 768px) {
      font-size: 3.6rem;
    }
    font-weight: inherit;
    max-width: 800px;
  }

  &__subtitle {
    font-size: 1.2rem;
    max-width: 540px;
    font-weight: 700;
  }
}

