// ----------------------------------------------------------------------------
//
// Layout

.wrapper {
  max-width: $content-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}


// ----------------------------------------------------------------------------
//
// Clearfix

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}