// ----------------------------------------------------------------------------
//
// Primary navigation

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  margin: 0;
  padding: 0;
  @include clearfix;

  background: scheme(nav, background);
  box-shadow: 0 1px scheme(nav, border);

  color: scheme(nav, color);
  font-family: scheme(nav, font, family);
  font-weight: 800;

  a { color: inherit; }

  &__brand-link {
    float: left;
    font-size: 18px;
    line-height: 20px;
    padding: 20px layout(gutter);
  }

  &__list {
    float: right;
    padding: 0 layout(gutter) 0 0;
  }

  &__link {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
    float: left;
    padding: 22px layout(gutter) / 2 18px;
  }
}
