---
layout: default
---
{% assign person = page %}

{% include header.html %}

<div class='page-content'>

  <div class='person-bio'>

    <div class='person-bio__avatar-container'>
      <div class='person__avatar' style='background-image: url(/people/{{ person.slug }}.jpg);'></div>
    </div>

    <div class='person-bio__description'>
      <h2 class='person-bio__title'>{{ person.title }}</h2>

      <ul>
        {% if person.twitter %}
        <li><a href='https://twitter.com/{{ person.twitter }}'>@{{ person.twitter }}</a></li>
        {% endif %}
        {% if person.website %}
        <li><a href='{{ person.website }}'>{{ person.website }}</a></li>
        {% endif %}
      </ul>

      {{ content }}
    </div>

  </div>

  <div class='person-shows'>

    <h3>{{ person.title }}'s shows:</h3>
    <ul>
      {% for show in site.shows %}
        <li>{{ show.title }}</li>
      {% endfor %}
    </ul>

    <h3>{{ person.title }}'s guest appearances:</h3>
    <ul>
      {% for show in site.shows %}
      <li>{{ show.title }}</li>
      {% endfor %}
    </ul>

  </div>

</div>
